html, body, ul, li, p, h1, h2, h3, form {
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	font-weight: normal;
}
ul, li {
	list-style: none;
}
body {
	font-family: '微软雅黑';
	background-color: #ddd;
	color: #666;
	font-size: 12px;
}
.json-index {
	.header {
		background-color: #323f7a;
		height: 200px;
		color: #fff;
		text-align: center;
	}
	.content {
		width: 100%;
		max-width: 920px;
		margin: 0 auto;
		padding: 0 20px;
	}
}

.title {
	font-size: 54px;
	padding-top: 50px;
}
.sub-title {
	font-size: 18px;
}

.step-title {
	border-bottom: #bbb solid 1px;
	line-height: 300%;
	font-size: 24px;
}
.step-content {
	.item {
		padding-right: 20px;
		margin-bottom: 10px;
	}

	.attr-name {
		width: 80px;
		text-align: right;
		display: inline-block;
		padding-right: 5px;
	}
}

.attr-add {
	display: inline-block;
	font-size: 14px;

	.item {
		display: inline-block;
	}
}
.attr-data {
	padding-top: 20px;
	overflow: hidden;

	.item {
		float: left;
		width: 40%;
		position: relative;
	}
	.item:hover .icon-delete {
		display: block;
	}
	.icon-delete {
		display: none;
		position: absolute;
		font-size: 16px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background-color: #999;
		color: #fff;
		text-align: center;
		line-height: 20px;
		top: 7px;
		right: 5px;
	}
}
.j_input {
	height: 30px;
	padding: 0 5px;
	width: 200px;
}
.button {
	height: 34px;
	width: 80px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
.button-positive {
	background-color: #323f7a;
	color: #fff;
	margin-top: 20px;
	clear: both;
}